ansicon            
appdirs            
blessed            
certifi            
cffi               
charset-normalizer 
flyingcircus       
ibm-cloud-sdk-core 
ibm-watson         
idna               
jinxed             
numpy              
packaging          
pip                
pycparser          
PyJWT              
python-dateutil    
pytk               
requests           
setuptools         
setuptools-scm     
six                
sounddevice        
urllib3            
wavio              
wcwidth            
websocket-client   